<a href="https://colab.research.google.com/github/CamilleMagnette/Salaries_Analysis_with_Python-PowerBi/blob/main/Dataset_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset

The dataset is composed of 607 job, with company and applicant location. Also, for each, you have the job title, the contract, the remote ratio, the company size, the salary and the work year.

In [ ]:
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()   # S'authentifier et créer un PyDrive client
gauth = GoogleAuth()       # Connecter Google Drive avec Google colab notebook
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth) # A réaliser 1 fois par notebook
url = 'https://drive.google.com/file/d/1_kVuS32q9hrI0VYJWHsRf0jFfu7hPss1/view'
file_id = '1_kVuS32q9hrI0VYJWHsRf0jFfu7hPss1'
downloaded = drive.CreateFile({'id': file_id}) # Copier le lien dans mon drive (car on ne peut pas ouvrir un fichier partagé)
downloaded.GetContentFile('ds_salaries-Vanilla.csv')

In [ ]:
df_dataset = pd.read_csv('ds_salaries-Vanilla.csv', sep=',')

In [ ]:
df_dataset.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [ ]:
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [ ]:
df_dataset.describe()

       Unnamed: 0    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000

## Mon objectif

You are a data analyst in a famous Head Hunting office specialized in data job.

The sales have data around the world and need to figure out where they can install a new office, in order to catch the most interesting profiles.

- Which profil(es), contract(s) and company location should be focus on ?
- What is the main tendancy ?
- Provide a complete analysis on the different kind of job in the data field.

## Analyse exploratoire

### valeurs uniques

In [ ]:
df_dataset['work_year'].unique()

array([2020, 2021, 2022])

In [ ]:
df_dataset['experience_level'].unique()

array(['MI', 'SE', 'EN', 'EX'], dtype=object)

EN : Entry-level / Junior
MI : Mid-level / Intermediate
SE : Senior-level / Expert
EX : Executive-level / Director

In [ ]:
df_dataset['employment_type'].unique()

array(['FT', 'CT', 'PT', 'FL'], dtype=object)

The type of employement for the role:
PT : Part-time / FT : Full-time / CT : Contract / FL : Freelance

In [ ]:
df_dataset['company_size'].unique()

array(['L', 'S', 'M'], dtype=object)

In [ ]:
df_dataset['company_location'].unique()

array(['DE', 'JP', 'GB', 'HN', 'US', 'HU', 'NZ', 'FR', 'IN', 'PK', 'CN',
       'GR', 'AE', 'NL', 'MX', 'CA', 'AT', 'NG', 'ES', 'PT', 'DK', 'IT',
       'HR', 'LU', 'PL', 'SG', 'RO', 'IQ', 'BR', 'BE', 'UA', 'IL', 'RU',
       'MT', 'CL', 'IR', 'CO', 'MD', 'KE', 'SI', 'CH', 'VN', 'AS', 'TR',
       'CZ', 'DZ', 'EE', 'MY', 'AU', 'IE'], dtype=object)

In [ ]:
df_dataset['job_title'].unique()

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
       'Director of Data Science', 'Research Scientist',
       'Machine Learning Manager', 'Data Engineering Manager',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'AI Scientist', 'Computer Vision Engineer',
       'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
       '3D Computer Vision Researcher', 'Data Analytics Engineer',
       'Applied Data Scientist', 'Marketing Data Analyst',
       'Cloud Data Engineer', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Machine Learning Developer',
       'Applied Machine Learning Scientist', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
       'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead'],
      dtype=object)

In [ ]:
df_dataset['salary_currency'].unique()

array(['EUR', 'USD', 'GBP', 'HUF', 'INR', 'JPY', 'CNY', 'MXN', 'CAD',
       'DKK', 'PLN', 'SGD', 'CLP', 'BRL', 'TRY', 'AUD', 'CHF'],
      dtype=object)

### SPLIT des 3 années

In [ ]:
df_dataset_2020 = df_dataset.loc[(df_dataset['work_year'] == 2020)]
df_dataset_2021 = df_dataset.loc[(df_dataset['work_year'] == 2021)]
df_dataset_2022 = df_dataset.loc[(df_dataset['work_year'] == 2022)]

### value count

#### Job_title

In [ ]:
df_dataset['job_title'].value_counts()[:10]

Data Scientist                143
Data Engineer                 132
Data Analyst                   97
Machine Learning Engineer      41
Research Scientist             16
Data Science Manager           12
Data Architect                 11
Big Data Engineer               8
Machine Learning Scientist      8
Principal Data Scientist        7
Name: job_title, dtype: int64

In [ ]:
df_dataset_2022['job_title'].value_counts()[:10]

Data Engineer                89
Data Scientist               77
Data Analyst                 73
Machine Learning Engineer    18
Data Architect                8
Data Science Manager          5
Analytics Engineer            4
Research Scientist            4
Data Analytics Manager        4
Applied Data Scientist        3
Name: job_title, dtype: int64

In [ ]:
df_dataset_2021['job_title'].value_counts()[:10]

Data Scientist               45
Data Engineer                32
Machine Learning Engineer    18
Data Analyst                 17
Research Scientist           10
Data Science Manager          6
Data Science Consultant       5
Principal Data Scientist      5
Big Data Engineer             5
BI Data Analyst               5
Name: job_title, dtype: int64

In [ ]:
df_dataset_2020['job_title'].value_counts()[:10]

Data Scientist               21
Data Engineer                11
Data Analyst                  7
Machine Learning Engineer     5
Big Data Engineer             3
Lead Data Engineer            2
Data Engineering Manager      2
Research Scientist            2
Data Science Consultant       2
Business Data Analyst         2
Name: job_title, dtype: int64

In [ ]:
counts_2022 = df_dataset_2022['job_title'].value_counts()
percentages_2022 = counts_2022.div(counts_2022.sum()) * 100
percentages_2022[:10]

Data Engineer                27.987421
Data Scientist               24.213836
Data Analyst                 22.955975
Machine Learning Engineer     5.660377
Data Architect                2.515723
Data Science Manager          1.572327
Analytics Engineer            1.257862
Research Scientist            1.257862
Data Analytics Manager        1.257862
Applied Data Scientist        0.943396
Name: job_title, dtype: float64

In [ ]:
counts_2021 = df_dataset_2021['job_title'].value_counts()
percentages_2021 = counts_2021.div(counts_2022.sum()) * 100
percentages_2021[:10]

Data Scientist               14.150943
Data Engineer                10.062893
Machine Learning Engineer     5.660377
Data Analyst                  5.345912
Research Scientist            3.144654
Data Science Manager          1.886792
Data Science Consultant       1.572327
Principal Data Scientist      1.572327
Big Data Engineer             1.572327
BI Data Analyst               1.572327
Name: job_title, dtype: float64

In [ ]:
counts_2020 = df_dataset_2020['job_title'].value_counts()
percentages_2020 = counts_2020.div(counts_2020.sum()) * 100
percentages_2020[:10]

Data Scientist               29.166667
Data Engineer                15.277778
Data Analyst                  9.722222
Machine Learning Engineer     6.944444
Big Data Engineer             4.166667
Lead Data Engineer            2.777778
Data Engineering Manager      2.777778
Research Scientist            2.777778
Data Science Consultant       2.777778
Business Data Analyst         2.777778
Name: job_title, dtype: float64

#### Company Location

In [ ]:
df_dataset['company_location'].value_counts()[:5]

US    355
GB     47
CA     30
DE     28
IN     24
Name: company_location, dtype: int64

In [ ]:
counts_location_2020 = df_dataset_2020['company_location'].value_counts()
percentages_location_2020 = counts_location_2020.div(counts_location_2020.sum()) * 100
percentages_location_2020[:5]

US    41.666667
DE     9.722222
FR     6.944444
GB     5.555556
IN     5.555556
Name: company_location, dtype: float64

In [ ]:
counts_location_2021 = df_dataset_2021['company_location'].value_counts()
percentages_location_2021 = counts_location_2021.div(counts_location_2021.sum()) * 100
percentages_location_2021[:5]

US    45.622120
IN     7.373272
DE     7.373272
GB     6.451613
CA     5.069124
Name: company_location, dtype: float64

In [ ]:
counts_location_2022 = df_dataset_2022['company_location'].value_counts()
percentages_location_2022 = counts_location_2022.div(counts_location_2022.sum()) * 100
percentages_location_2022[:5]

US    71.069182
GB     9.119497
CA     5.660377
GR     2.830189
ES     1.886792
Name: company_location, dtype: float64

#### Contrats

In [ ]:
df_dataset['employment_type'].value_counts()

FT    588
PT     10
CT      5
FL      4
Name: employment_type, dtype: int64

#### AUTRES

In [ ]:
df_dataset['salary_currency'].value_counts()[:5]

USD    398
EUR     95
GBP     44
INR     27
CAD     18
Name: salary_currency, dtype: int64

In [ ]:
df_dataset['company_size'].value_counts()

M    326
L    198
S     83
Name: company_size, dtype: int64

In [ ]:
df_dataset['experience_level'].value_counts()

SE    280
MI    213
EN     88
EX     26
Name: experience_level, dtype: int64

### Mes 1ères conclusions

3 postes principaux : Data Scientist, Data Engineer, Data Analyst.

Les profils Data Scientist en première position en 2020 et 2021 sont dépassés par les profils Data Engineer en 2022.

En effet :
- Explosion des postes de Data Analyst entre 2020 (9% des postes) et 2022 (23% des postes +14pts) qui passent de la 3ème position
- Explosion des postes de Data Analyst entre 2020 (15% des postes) et 2022 (27% des postes soient +7pts) qui passent de la 3ème position

Il faut continuer à se concentrer sur les profils Data Scientist mais aller davantage sur de profils Data Engineer, Data Analyst.

Compagny essentiellement aux US (71% des offres du DF en 2022) mais croissance de la GB

## Focus Data Analyst, Data Engineer, Data scientist

Catégoriser les 3 métiers principaux

In [ ]:
import numpy as np

# Créer une copie du DF 'df_dataset'
df_dataset_focus_metiers = df_dataset.copy()

# Conditions pour la catégorisation
conditions = [
    df_dataset['job_title'].str.contains('Data Analyst', case=False, na=False),   # na = False pour exclure les valeurs manquantes
    df_dataset['job_title'].str.contains('Data Engineer', case=False, na=False),  # case = False pour ne pas prendre en compte la casse dans la recherche
    df_dataset['job_title'].str.contains('Data Scientist', case=False, na=False)
]

# Valeurs correspondantes pour chaque catégorie
categories = ['Data Analyst', 'Data Engineer', 'Data Scientist']

# Ajouter la colonne de catégorie basée sur les conditions
df_dataset_focus_metiers['Category'] = np.select(conditions, categories, default='Other')

In [ ]:
df_dataset_focus_metiers_2020 = df_dataset_focus_metiers.loc[(df_dataset_focus_metiers['work_year'] == 2020)]
df_dataset_focus_metiers_2021 = df_dataset_focus_metiers.loc[(df_dataset_focus_metiers['work_year'] == 2021)]
df_dataset_focus_metiers_2022 = df_dataset_focus_metiers.loc[(df_dataset_focus_metiers['work_year'] == 2022)]

In [ ]:
df_dataset_focus_metiers.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,Category
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L,Data Scientist
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S,Other
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M,Data Engineer
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S,Data Analyst
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L,Other

In [ ]:
counts_focus_metiers_2022 = df_dataset_focus_metiers_2022['Category'].value_counts()
percentages_focus_metiers_2022 = counts_focus_metiers_2022.div(counts_focus_metiers_2022.sum()) * 100
percentages_focus_metiers_2022

Data Engineer     28.301887
Data Scientist    25.471698
Data Analyst      24.213836
Other             22.012579
Name: Category, dtype: float64

In [ ]:
counts_focus_metiers_2021 = df_dataset_focus_metiers_2021['Category'].value_counts()
percentages_focus_metiers_2021 = counts_focus_metiers_2021.div(counts_focus_metiers_2021.sum()) * 100
percentages_focus_metiers_2021

Other             38.709677
Data Scientist    24.884793
Data Engineer     23.041475
Data Analyst      13.364055
Name: Category, dtype: float64

In [ ]:
counts_focus_metiers_2020 = df_dataset_focus_metiers_2020['Category'].value_counts()
percentages_focus_metiers_2020 = counts_focus_metiers_2020.div(counts_focus_metiers_2020.sum()) * 100
percentages_focus_metiers_2020

Data Scientist    33.333333
Data Engineer     25.000000
Other             23.611111
Data Analyst      18.055556
Name: Category, dtype: float64

In [ ]:
# Grouper les éléments par metier et par ans pour voir l'évolution du salaire et du télétravail
df_dataset_focus_metiers.groupby(["Category", 'work_year']).mean().reset_index()

<ipython-input-125-ffcd9ad91f2f>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_dataset_focus_metiers.groupby(["Category", 'work_year']).mean().reset_index()

,Category,work_year,Unnamed: 0,salary,salary_in_usd,remote_ratio
0,Data Analyst,2020,23.307692,126692.307692,58838.692308,69.230769
1,Data Analyst,2021,147.724138,519292.689655,93840.827586,81.034483
2,Data Analyst,2022,444.649351,116148.896104,98760.493506,75.324675
3,Data Engineer,2020,33.666667,364849.944444,87943.833333,75.000000
4,Data Engineer,2021,184.400000,252916.500000,106982.640000,68.000000
5,Data Engineer,2022,434.333333,123012.977778,126284.711111,77.222222
6,Data Scientist,2020,43.958333,669679.583333,94110.083333,58.333333
7,Data Scientist,2021,196.796296,874811.851852,86774.722222,63.888889
8,Data Scientist,2022,456.493827,186425.925926,140270.679012,67.901235
9,Other,2020,34.823529,190894.117647,134823.647059,58.823529
10,Other,2021,177.726190,520045.714286,106094.309524,69.047619
11,Other,2022,457.157143,219887.185714,132369.871429,73.571429